.confirm-container {
  position: absolute;
  height: 100%;
  padding-top: 80px;
  background-color: #b2ffb6;
  background-image: url('../confirm-background.png');
  background-position: center;
  background-size: cover;
  overflow: auto;
}

.confirm-review-container {
  height: fit-content;
  width: 80%;
  max-width: 800px;
  top: 0px;
  background-color: #ffffff8f;
}

.confirm-container .car-row {
  cursor: default;
  opacity: 1;
}


@media only screen and (min-height: 400px) {
  .confirm-container {
    padding-top: 120px;
  }
}
