.cars-container {
  position: absolute;
  height: 100%;
  padding-top: 80px;
  background-color: #fff598;
  background-image: url('../car-background.png');
  background-position: center;
  background-size: cover;
}

.cars-table-container {
  height: 80%;
  width: 80%;
  max-width: 800px;
  overflow: auto;
}

.cars-table {
  width: 100%;
}

.sort-menu {
  position: fixed;
  padding: 5px;
  padding-left: 7px;
  margin-right: 36px;
  margin-bottom: -10px;
  box-shadow: 1px 1px 1px #000000;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

.sort-menu span {
  font-weight: bold;
}

.sort-menu select {
  width: 72px;
  margin-left: 3px;
  outline: none;
  border: none;
  background: none;
  text-indent: 2px;
  cursor: pointer;
}

.cars-container .advance {
  position: absolute;
  top: 50%;
  right: 5%;
}


@media only screen and (min-height: 400px) {
  .cars-container {
    padding-top: 120px;
  }
}
